numpy== 1.23.4
OSMPythonTools>= 0.2.6
osmapi>= 1.2.2
pandas== 1.5.1
geopandas== 0.12.1
scipy== 1.9.3
requests>= 2.23.0
bs4
sqlalchemy== 1.4.44
geoalchemy2== 0.12.5
psycopg2-binary>= 2.8.5
xlrd>= 1.2.0
phonenumbers>= 8.13.0
lxml